body {
    background-color: #929292;
}

h1 {
    text-align: center;
    color: #ffffff;
    padding: 10px;
    background-color: rgb(63, 83, 100);
}
h3 {
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
}

#main-container {
    display: flex;
    width: 100%;
    padding: 30px;
}

#map {
    height: 800px;
    width: 60%;
    background-color: rgb(101, 101, 136);
}

#right-container {
    display: flex;
    flex-direction: column; /* Stack description, chart, and buttons vertically */
    width: 100%;
    margin-left: 60px;
}

#chart {
    height: 400px;
    width: 100%;
    margin-top: 20px;
}


#description {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

#button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    margin-top: 20px;
    color: #ffffff;
    background-color: rgb(63, 83, 100);
}
#slider-container {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(63, 83, 100);
  }
.slidecontainer {
    width: 100%;
    margin-top: 10px;
  }

.slider {
    width: 100%;
}


@media (max-width: 1000px) {
    #main-container {
        flex-direction: column; /* Stack map and chart on top of each other */
        align-items: center; /* Center them */
    }

    #map {
        width: 100%;
        height: 800px; /* Smaller height for mobile */
    }

    #right-container {
        width: 100%;
        margin-left: 0;
    }

    #chart {
        width: 100%;
        height: 300px; /* Adjust chart height */
    }

    #button-container {
        padding-top: 100px;
        flex-direction: column; /* Stack buttons vertically on mobile */
        align-items: center;
    }

    button {
        width: 80%;
        margin: 10px 0; /* Add more vertical margin for better spacing */
        align-self: center;
    }
    #slider-container {
        padding: 10px;
        width: 100%;
        margin-top: 10px;
        background-color: rgb(63, 83, 100);
      }
}
